[Unit]
Description=Run pinoccio-zmq-bridge service
Requires=docker.service

[Service]
Restart=always
RestartSec=10s
ExecStartPre=-/usr/bin/docker kill pinoccio-zmq-bridge
ExecStartPre=-/usr/bin/docker rm pinoccio-zmq-bridge
ExecStartPre=/usr/bin/docker pull regius/pinoccio-zmq-bridge
ExecStart=/usr/bin/bash -c "/usr/bin/docker run -p 22756:22756 --rm --name pinoccio-zmq-bridge \
  -e ZMQ_ADDRESS='tcp://192.168.1.3:7556' \
	regius/pinoccio-zmq-bridge"
ExecStop=/usr/bin/docker stop pinoccio-zmq-bridge

[Install]
WantedBy=local.target
